.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 10px;
}

.tasks .task {
    background-color: white;
    color: black;
    margin-bottom: 10px;
    padding: 10px;
  
    display: grid;
    grid-template-columns: 3fr 1fr auto;
    grid-template-areas: 'title deadline actions';
    grid-row-gap: 10px;
  }
  
.tasks .task .title {
    grid-area: title;
  }
  
.tasks .task .deadline {
    grid-area: deadline;
  }
  
.tasks .task .deadline span {
    padding: 5px;
    background-color: orange;
    color: white;
    border-radius: 10px;
  }
  
.tasks .task .actions {
    grid-area: actions;
  }